.status{
color: var(--color-red);
border-radius: 50%;
width:2px;
border: 2px solid var(--color-white);
}
.notif{
    color: var(--color-white);
    background-color: var(--color-red);
    position: absolute;
    width: 1rem;
    border-radius: 5rem;
    top: -2;
    left: 1.9rem;
    font-size: small;
}
.profile{
    position: relative;
    margin-right: 1rem;
}
.progress{
    position: relative;
}
.avatar{
    position: absolute;
    top: 0.25rem;
    left:0.25rem;
}
.status{
    position: absolute;
    bottom:0.5rem;
    right:-1.8rem;
    width:0.5rem;
    height: 0.5rem;
    background-color: var(--color-red);
    border-radius:50%;
    border:2px solid var(--color-white);
}
