:root {
  /* Global variables to be defined here */
  --color-background:#F7F8FA;
  --color-white:#FFFFFF;
  --color-border:#EBEEF2;
  --color-grey: #7A8699;
  --color-greyfont:#98A2B2;
  --color-darkgrey:#606C80;
  --color-darkblue:#2563EB;
  --color-blue:#3B82F61A;
  --color-yellow:#CA8A04;
  --color-lightyellow:#EAB3081A;
  --color-red:#DB2777;
  --color-lightred:#EC48991A;
  --color-purple:#9333EA;
  --color-lightpurple:#A855F71A;
  --color-green:#16A34A;
  --color-lightgreen:#22C55E1A;


}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-color: var(--color-background);

}

